:root{
    --Color_principal:#351E44;
    --Color_secundario: #5B3177;
    --color_letra: #ffffff;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:var(--Color_principal);
}
.header{
    width:100%;
    height:50px;
    background:var(--Color_secundario);
}
