/* Se aplican estilos a ambos botones para darles forma, fuente y transición. */
.login-caja__boton {
    width: 80%; 
    padding: 15px; 
    border: none; 
    border-radius: 30px; 
    font-size: 1.1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    color: var(--color-letra-claro);
    text-transform: uppercase; 
}
/* Estilo específico para el botón. */
.login-caja__boton {
    background-color: var(--color-boton-base); /* Color único y oscuro */
}
/* Define el cambio de color al pasar el ratón. */
.login-caja__boton--hover .login-caja__boton--hover:hover{
    background-color: var(--color-hover); 
}
