/* Se aplican estilos a ambos botones para darles forma, fuente y transición. */
.boton {
    width: 80%; 
    padding: 15px; 
    border: none; 
    border-radius: 30px; 
    font-size: 1.1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    color: var(--color-letra-claro);
    text-transform: uppercase; 
    background-color: var(--color-boton-base);
}
/* Define el cambio de color al pasar el ratón. */
.boton:hover{
    background-color: var(--color-morado-muy-claro); 
}
