/* Se aplican estilos a ambos botones para darles forma, fuente y transición. */
.boton {
    margin: 30px;
    /*Ancho*/
    width: 80%; 
    padding: 15px; 
    border: none; 
    border-radius: 30px; 
    /*unidad de medida relativa*/
    font-size: 1.1em; 
    font-weight: bold; 
    cursor: pointer; 
    color: var(--color-letra-claro);
    text-transform: uppercase; 
    background-color: var(--color-boton-base);
}
/* Define el cambio de color al pasar el ratón. */
.boton:hover{
    background-color: var(--color-hover);
}
.boton--exito {
    background-color: var(--color-exito);
    color: var(--color-letra-claro);
}

.boton--exito:hover {
    background-color: var(--color-exito-hover); 
}

.boton--peligro {
    background-color: var(--color-peligro); 
    color: var(--color-letra-claro);
}

.boton--peligro:hover {
    background-color: var(--color-peligro-hover); 
}