/* Contenedor general para agrupar elementos en las vistas de módulo */
.caja--base { 
    background-color: var(--color-fondo-pagina);
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Contenedor específico para botones de herramientas (Agregar/Eliminar) */
.caja--herramientas {
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 10px;
    padding: 15px;
    box-shadow: none;
}

/* Estilo para el contenedor de la lista de productos */
.caja--listado {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}
.caja__item {
    width: 74%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--color-morado-medio); 
    color: var(--color-letra-claro);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.caja__imagen-lista {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    flex-shrink: 0; 
}

.caja__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja__info h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.caja__info p {
    margin: 3px 0;
    font-size: 0.9em;
}

.caja__info span {
    font-weight: bold;
}


@media (min-width: 768px) {
    .caja--base {
        padding: 25px;
        width: 1200px;
    }
    .caja--listado{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .caja__item{
        width: 29%;
    }
    .caja--herramientas {
        flex-direction: column; 
        justify-content: center;
        gap: 20px;
    }
    .caja__imagen-lista {
        width: 100px;
        height: 100px;
    }
}