/* Estilos específicos para el pie de página */
.main-footer {
    background-color: var(--color-principal-morado); 
    color: var(--color-letra-claro);
    padding: 15px;
    text-align: center;
    /*unidad de medida relativa*/
    font-size: 0.9em;
    /*El elemento se va a extender a travez de todas las columnas disponibles*/
    grid-column: 1 / -1; 
    overflow-x: hidden; 
    box-sizing: border-box; 
}