/* Estilos específicos para el pie de página */
.main-footer {
    background-color: var(--color-principal-morado); 
    color: var(--color-letra-claro);
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
    grid-column: 1 / -1; 
}