/* Se aplican estilos a ambos botones para darles forma, fuente y transición. */
.caja__formulario {
    font-size: 1.3em; 
    font-weight: bold; 
    color: var(--color-letra); 
    text-transform: uppercase; 
}
.formulario__container
{
    /*se posiciona en el flujo normal*/
    position: relative;
    display: inline-block;
}
.formulario__label{
    text-align: center;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.formulario__input{
    color: var(--color-principal-morado);
    border-radius: 5px;
    width: 300px;
    height: 25px;
    background-color: var(--color-fondo-pagina);
    font-size: 15px;
    text-align: center;
    padding-left: 35px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}   