.main-header {
    background-color: var(--color-principal-morado); 
    color: var(--color-letra-claro);
    padding: 10px 15px; 
    display: flex;
    /*El primer articulo se encontrara al inicio, y el ultimo al final distrubuyendose uniformemente*/
    justify-content: space-between; 
    align-items: center;
    /*El header se quedara fijo en su lugar*/
    position: fixed; 
    width: 100%;
    /*El calculo de la altura y el ancho del elemento incluria el borde*/
    box-sizing: border-box; 
    /*Definimos la box-shadow con una custom property*/
    box-shadow: var(--sombra-header);
    overflow-x: hidden; 
}
.header__empresa{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header__titulo {
    font-size: 1.5em;
    margin: 0;
}
.header__acciones {
    display: flex;
    align-items: center;
    gap: 15px; 
}
.header__icono-link {
    color: var(--color-icono-carrito);
    /*Quitamos la decoracion del texto*/
    text-decoration: none;
    font-size: 1.5em; 
    /*Transicion para cuando se ejecute el hover*/
    transition: color 0.3s;
}
.header__icono-link:hover {
    color: var(--color-hover);
}
/*Dise침o del icono del menu visible solo en celular*/
.header__menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px; 
    display: block; 
}
/* Ocultar informaci칩n del usuario (usuario:Administrador) en pantallas muy peque침as */
.header__info-usuario {
    font-size: 0.9em; 
    /*Display none para ocultarlo*/
    display: none;
}
.header__link-salir {
    color: var(--color-letra-claro);
    text-decoration: none;
    padding: 5px 8px; 
    border: 1px solid var(--color-letra-claro);
    border-radius: 5px;
    font-size: 0.8em;
    transition: background-color 0.3s, border-color 0.3s;
}
.header__link-salir:hover {
    background-color: #a93226; 
    border-color: #a93226;
}
/*Media queris para cuando el width sea de 768px o superior*/
@media (min-width: 768px) {
    .main-header {
        padding: 15px 30px;
    }
    .header__titulo {
        font-size: 1.8em; 
        margin-left: 250px;
    }
    .header__acciones {
        gap: 20px; 
    }
    .header__info-usuario {
        /*Para pantallas no tan peque침as mostramos la informacion del usuario (usuario: administrador)*/
        display: block; 
        font-size: 1em;
    }
    .header__link-salir {
        padding: 5px 10px; 
        font-size: 0.9em;
    }
    /*Ocultamos el icono del menu en escritorio*/
    .header__menu-toggle {
        display: none;
    }
}