.logo{
    display: inline-block;
    height: 25px;
    width: 25px;
}
.logo--caja{
    display: block;
    height: 200px;
    width: 100%;
}
@media (min-width: 768px) {
 .logo{
    height: 50px;
    width: 50px;
 }   
}