.pagina-main__titulo {
    margin-top: 40px;
    font-size: 1.8em; 
    color: var(--color-principal-morado);
    margin-bottom: 30px;
    text-align: center;
    /*El titulo ocupara todo el ancho asi se centrara*/
    width: 100%; 
}
.main-botones-contenedor {
    gap: 20px; 
    max-width: 280px; 
    /*Centramos los contenedores*/
    margin: 0 auto;
    padding: 0 10px; 
    /*El calculo de la altura y el ancho del elemento incluria el borde*/
    box-sizing: border-box;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-boton {
    width: 100%; 
    height: auto;
    text-decoration: none;
    background-color: var(--color-morado-medio);
    color: var(--color-letra-claro);
    padding: 20px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.2s;
}

.main-boton:hover {
    background-color: var(--color-hover);
    /*Efecto de elevacion*/
    transform: translateY(-2px);    
}

.main-boton .boton__icono {
    font-size: 3em; 
    margin-bottom: 10px;
}

/*Media queris para cuando el width sea de 768px o superior*/

@media (min-width: 768px) {
    .pagina-main__titulo {
        font-size: 1.8em;
        margin-bottom: 30px;
    }
    .main-botones-contenedor {
        gap: 25px; 
    }
    .main-boton {
        padding: 30px 10px;
        width: 600px;
    }
    .main-boton:hover {   
         /*Efecto de elevacion*/
        transform: translateY(-10px); 
    }
    .main-boton .boton__icono {
        font-size: 3em; 
        margin-bottom: 10px;
    }
}