.login-pantalla {
    background-color: var(--color-principal-morado); 
    width: 100%; 
    height: var(--altura-pantalla-dinamica); 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

