/* Estilos específicos para el pie de página */
.main-footer {
  background-color: var(--color-principal-morado);
  color: var(--color-texto);
  padding: 15px;
  text-align: center;
  font-size: 0.9em;
  grid-column: 1 / -1;
  overflow-x: hidden;
  box-sizing: border-box;
}
.main-footer__texto{
  margin: 0;
  opacity: 0.75;
}