/*Fuentes */


/*Base*/
@import url(utils/Base.css);
@import url(utils/Custom_properties.css);

/*Layout*/
@import url(utils/layout.css);

/*Componentes*/
@import url(components/boton.css);
@import url(components/formulario.css);
@import url(components/caja.css);
@import url(components/logo.css);
@import url(components/header.css); 
@import url(components/footer.css); /* Importación del Footer */
@import url(components/sidebar.css); /* Importación del Sidebar responsivo */
@import url(components/sidebar_nav.css); /* Importación de estilos de botones del Sidebar */
@import url(components/main_botones.css);

/*pages*/
@import url(pages/login.css);