/* Aseguramos que no haya márgenes ni rellenos no deseados. */
*{
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
}
/* Definimos el color de fondo de la pagina*/
body {
    background-color: var(--color-fondo-pagina); 
}