/* Definimos colores y valores clave para que sean fáciles de cambiar */
:root {
    --color-fondo-pagina: #ffffff; 
    --color-principal-morado: #4b0082; 
    /*Toma en cuenta solo el contenido de la pagina y no del navegador*/
    --altura-pantalla-dinamica: 100dvh;
    --color-morado-claro: #a020f0; 
    --color-morado-medio: #8a2be2; 
    --color-boton-base: #6a0dad; 
    --color-hover: #af4dec; 
    --color-letra-claro: white; 
    --color-icono-carrito: rgb(255, 255, 255); 
    --sombra-header: 0 4px 6px rgba(0, 0, 0, 0.1);
    --color-exito:#00c000;
    --color-exito-hover:#61c261;
    --color-peligro:#c50000;
    --color-peligro-hover:#bd6464;
    --color-fondo-caja: #cccccc;
}
