body{
    min-height: var(--altura-pantalla-dinamica);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.main-header{
    grid-area: header;
}
.pagina-main{
    grid-area: main;
}
.main-footer{
    grid-area: footer;
}
