body {
    min-height: var(--altura-pantalla-dinamica);
    /*En caso de que el contenido del body sea mayor que lo permitido en el eje x, no se mostrara la barra para moverse en este
    si no que esta sera ocultada y el contenido no podra ser accesible*/
    overflow-x: hidden; 
}
.contenedor-principal {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; 
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: var(--altura-pantalla-dinamica);
    width: 100vw; 
    box-sizing: border-box;
}
/*Definimos el area del header*/
.main-header {
    grid-area: header;
}
/*Definimos el area del main*/
.pagina-main {
    grid-area: main;
    background-color: var(--color-fondo-pagina); 
    padding: 15px 0; 
    padding-top: 70px; 
    overflow-x: hidden;  
}
/*Definimos el area del footer*/
.main-footer {
    grid-area: footer;
}

