body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

/* =========================
   Layout CON sidebar (App)
========================= */
.layout-app {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.main-header { grid-area: header; }
.pagina-main { grid-area: main; }

/* Main base */
.layout-app .pagina-main {
  padding: 20px 16px;
  padding-top: 90px; /* header fijo */
  width: 100%;
}

/* =========================
   Desktop
========================= */
@media (min-width: 768px) {
  .layout-app {
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
  }

  .main-sidebar { grid-area: sidebar; }

  .layout-app .pagina-main {
    padding: 28px;
    padding-top: 100px;
  }
}